[Unit]
Description=Promtail service
After=network.target

[Service]
Type=simple
User=promtail
Group=promtail
ExecStart=/usr/local/bin/promtail -config.file="{{ promtail_config_file }}"

[Install]
WantedBy=multi-user.target

