global:
  scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

alerting:
  alertmanagers:
    - static_configs:
        - targets:
           - localhost:9093
rule_files:
  - "rules.yml"

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]
  - job_name: "monitoring server"
    static_configs:
      - targets: ["localhost:9100"]
  - job_name: "test server"
    static_configs:
      - targets: ["{{ hostvars[inventory_hostname]['groups']['tag_ENV_TEST'][0] }}:9100"]
  - job_name: "prod server"
    static_configs:
      - targets: ["{{ hostvars[inventory_hostname]['groups']['tag_ENV_PROD'][0] }}:9100"]
  - job_name: "runner"
    static_configs:
      - targets: ["{{ hostvars[inventory_hostname]['groups']['tag_ENV_RUNNER'][0] }}:9100"]
  - job_name: "test_app"
    static_configs:
      - targets: ["{{ hostvars[inventory_hostname]['groups']['tag_ENV_TEST'][0] }}"]
  - job_name: "prod_app"
    static_configs:
      - targets: ["{{ hostvars[inventory_hostname]['groups']['tag_ENV_PROD'][0] }}"]


